<!DOCTYPE html>
<html>
    <head>
        <title>
            Calculate fourier
        </title>
    </head> Anupam's Fourier calculator

    <body>
    <button onclick="location.href='{% url 'script' %}'">     Python</button> <hr>
        {% if data %}
        {{data}}
        {% endif %}
        <form action="/external/" method="post">
            {% csrf_token%}
           Input Text:
            <input type="text" name="param" required><br>
            {{data_external}}<br><br>
            {{data1}}
            <br><br>
            <input type="submit" value="Calculate Fourier of given function in range -pi to pi">
        
        </form>

        </body>
</html>